/****** reset **********************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    line-height: 1;
    background: #f5f5f5;
    padding: 0 5px;
    color: #7f7f7f;
}
input, textarea {outline: 0; resize: none;}
a {text-decoration:none;}


/****** global **********************************************/
.display-none {display:none;}
.display-block {display:block;}
.clearfix:after {clear:both; content:"."; display:block; height:0; visibility:hidden;}
.viewport {
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}

.floor {
    background: #fff;
    margin-bottom: 12px;
    box-shadow: 0 1px 1px #dcdcdc;
}

.floor .title {
    display: inline-block;
    font-size: 15px;
    padding-bottom: 7px;
    color: #7f7f7f;
    margin: 8px 0 2px 7px;
    white-space: nowrap;
}

.floor .activity-floor-title {
    display: inline-block;
    font-size: 20px;
    color: #7f7f7f;
    margin: 8px 0 2px 7px;
    white-space: nowrap;
}

.floor .title:before {
    content: "";
    display: block;
    width: 3px;
    height: 12px;
    float: left;
    background: #d8505c;
    margin: 1px 7px 0 0;
}

.floor .activity-floor-title:before {
    content: "";
    display: block;
    width: 3px;
    height: 17px;
    float: left;
    background: #d8505c;
    margin: 1px 7px 0 0;
}

.search-bar {
    overflow: hidden;
    margin: 7px 0;
}

.logo {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("../../images/logo-origin.jpg") no-repeat 0 0;
    background-size: 100%;
    margin-top: 2px;
    margin-left: 3px;
}

.menu {
    display: inline-block;
    width: 32px;
    color: #d44752;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

.menu:before {
    display: block;
    content: "";
    width: 28px;
    height: 19px;
    background-size: 100%;
}

.search-textfile {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    margin: 0 8px 0 8px;
    background: #ebebeb;
    height: 30px;
    padding-top: 7px;
    padding-left: 6px;
}

.search-bar-tbl {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}

.search-bar-cell-1 {
    display: table-cell;
    width: 34px;
    vertical-align: top;
    text-align: right;
}

.search-bar-cell-2 {
    display: table-cell;
    width: 90%;
    text-align: left;
    vertical-align: top;
}

.search-bar-cell-3 {
    vertical-align: top;
    display: table-cell;
    width: 28px;
    text-align: right;
}

.history-wrap {
    position: relative;
}

.history-list {
    position: absolute;
    left: 0;
    top: -7px;
    z-index: 9;
    overflow: hidden;
    width: 100%;
    word-wrap: break-word;
}

.history-item {
    font-size: 14px;
    margin: 0 41px;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
}

.history-item:first-child {
    -webkit-border-radius: 0;
}

.history-link {
    display: block;
    padding-left: 10px;
    line-height: 32px;
    text-decoration: none;
    color: #acacac;
}

.history-item:last-child .history-link {
    float: left;
    width: 50%;
    padding: 0;
    text-align: center;
}

.not-history-link {
    color: #acacac;
    display: block;
    line-height: 32px;
    padding-left: 10px;
    text-decoration: none;
}

.history-item:last-child .not-history-link {
    padding: 0;
    text-align: center;
}

.history-clear {
    border-right: 1px solid #d5d5d5;
}

.history-close {
    margin-left: -1px;
}

.clear {
    clear: both;
}

.slider-floor {
    padding: 4px;
}

.slider {
    background: #fff;
    position: relative;
}

.serial-number {
    overflow: hidden;
    text-align: center;
    position: absolute;
    bottom: 7px;
    left: 0;
    z-index: 9;
    width: 100%;
}

.point {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    height: 7px;
    width: 7px;
    background: #fff;
    margin-right: 7px;
    display: inline-block;
}

.point.selected {
    background: #e4393c;
}

.app-nav {
    overflow: hidden;
    margin-top: 5px;
}

.app-nav .app-link {
    width: 25%;
    float: left;
    height: 50px;
    font-size: 12px;
    text-decoration: none;
    color: #7f7f7f;
    text-align: center;
    display: block;
    position: relative;
}

.shopping-cart:before {
    background-position: 0 -81px;
}

.recharge:before {
    background-position: 0 -108px;
}

.lottery:before {
    background-position: 0 -137px;
}

.my:before {
    background-position: 0 -165px;
}

.shopping-cart:after, .recharge:after, .lottery:after, .my:after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: #dadada;
    position: absolute;
    right: -1px;
    top: 12px;
}

.my:after {
    display: none;
}

.title-wrap {
    overflow: hidden;
}

.title-wrap .title {
    float: left;
}

.category-item:nth-child(2n) {
    margin-right: -8px;
}

.category-floor .category-link {
    display: block;
    width: 100%;
}

.category-nav {
    overflow: hidden;
    margin-bottom: 2px;
}

.category-nav .category-link {
    float: left;
    width: 25%;
    text-decoration: none;
}

.category-nav .category-name {
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -ms-border-radius: 19px;
    margin: 0 5px 10px;
    background: #b8b2d2;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: block;
    height: 19px;
    line-height: 19px;
}

.activity-floor {
    background: #fff;
    padding-bottom: 15px;
}

.activity-list {
    border-bottom: 8px;
    padding: 0 9px;
}

.activity-list li {
    display: block;
    padding: 10px 0 0;
    background: #fff;
    margin: 10px 0 0;
    border-top:  1px solid #ddd8ce;
}

.activity-list li a {
    display: block;
    width: auto;
    padding: 0;
    margin: 0 8px 0 0;
    color:#7f7f7f;
}

.activity-link {
    display: block;
    width: 100%;
}

.activity-img {
    width: 100%;
    height: auto;
}

.activity-clear {
    clear: left;
}

.hot-img {
    border: 4px solid #fff;
}

.hot-link {
    display: block;
    border-top: 1px solid #dadada;
    padding: 5px 5px;
}

.home-client-wrapper {
    margin: 0 auto !important;
    text-align: center;
    max-width: 640px;
    max-height: 288px;
    min-height: 144px;
    min-width: 300px;
    overflow: hidden !important;
    padding: 0;
    background: #e35151;
    width: 100%;
    display: block;
}

.icon-disappear-wrapper {
    position: absolute;
    max-width: 630px;
    height: 32px;
    width: 97%;
    text-align: right;
}

.down-link-wrapper a {
    border: 0;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-indent: 10000px;
    font-size: 1px;
}

.brand-link img {
    display: block;
}


/****** product-list box for pages **********************************************/
.product-list li {height: 70px;}
.product-list li .left-b {position: absolute;}
.product-list li .left-b img {width: 80px; height: 60px;}
.product-list li .right-b {margin-left: 95px;}
.product-list li .right-b .name {font-size: 16px;}
.product-list li .right-b .desc {margin-top:12px; font-size: 14px;}


/****** app-index-index **********************************************/
#app-index-index .category-list li {height: 83px; float: left; width: 50%; }
#app-index-index .category-list li .left-b {position: absolute;}
#app-index-index .category-list li .left-b img {width: 70px; height: 70px;}
#app-index-index .category-list li .right-b {margin-left: 80px;}
#app-index-index .category-list li .right-b .name {font-size: 16px;}
#app-index-index .category-list li .right-b .desc {margin-top:12px; font-size: 14px;}


/****** app-category-index **********************************************/
#app-category-index .activity-list li {height: 70px;}
#app-category-index .activity-list li .left-b {position: absolute;}
#app-category-index .activity-list li .left-b img {width: 80px; height: 60px;}
#app-category-index .activity-list li .right-b {margin-left: 95px;}
#app-category-index .activity-list li .right-b .name {font-size: 16px;}
#app-category-index .activity-list li .right-b .desc {margin-top:12px; font-size: 14px;}